@using Finastra.Hackathon
@{
    ViewData[index: "Title"] = "Start Here";
    ViewData[index: "Active"] = "Overview";
}


<div class="jumbotron fin-blue rounded-0 navpad">
    <h4>Start</h4>
</div>

<div class="container">
    <main role="main" class="pb-3">

        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h3>The Use Case</h3>
                <p>
                    Ryan Rogerson owns a canned vegetable business called <i>Peter's Pumpkin Cannery</i>.  Although he has many types of vegetables, he specializes in pumpkin meaning <strong>he sells out his inventory every holiday season</strong>.
                </p>
                <p>
                    Every year he takes out a <strong>1MM operational loan</strong> with the <i>First Bank of Valkyrie</i>. He uses this loan to buy $75,000 worth of inventory every month; regardless if he needs the inventory or the price which he purchases it.
                    Managing his inventory this way is easy for him, but has <strong>affected his bottom line</strong> dramatically and <strong>increased risk for the bank</strong>.
                </p>
                <p>
                    With an increase of risk, <i>First Bank of Valkyrie</i> is trying something new with <i>Peter's Pumpkin Cannery</i>.  <strong>Underwriting has altered the loan covenants</strong> to have Ryan provide key working capital variables on a monthly basis.
                    It is the hope of the bank that this new system will not just track, but able to make predictions that Ryan might be mismanaging his business...
                </p>

                <h3 style="margin-top: 50px">Instructions</h3>
                <p>
                    Obviously this application is considered prototypical; however, please note that <strong><i>this is a real, working, cloud-hosted solution with real machine learning predictions and email alerting</i></strong>.
                </p>
                <p>
                    The primary demo script through the use case is as follows:
                    <ul>
                        <li>Login as the business owner Ryan using the username <strong>rrogerson</strong> and any password.</li>
                        <li>Navigate to the <i>Insights</i> page and recognize that the month of September is currently being predicted as numbers have not yet been entered.</li>
                        <li>Navigate to <i>Account Principles</i> and notice that a call for his working capital variables appears. Some fictitious values are provided for your convenience; however, feel free to modify and then submit them.</li>
                        <li>Navigate to the <i>Insights</i> page and recognize that your actuals and predictions have been updated to account for the new values.</li>
                        <li>Logout</li>
                        <li><i>Expectation:</i> You will receive an email alert as the lender notifying you of an insight alert</li>
                        <li>Login as the currently selected lender using the username <strong>@SimulationConfiguration.Lender.Username</strong> and any password.</li>
                        <li>Select <i>Peter's Pumpkin Cannery</i> as a client and go to their <i>Insights</i> page.</li>
                        <li>Select <i>Insight Actions > Propose loan adjustment</i></li>
                        <li>Logout</li>
                        <li>Login as the business owner Ryan using the username <strong>rrogerson</strong> and any password.</li>
                        <li><i>Expectation:</i> Notice you receive a personalize, in-app alert with a new adjusted APR and a link to download the entire AM schedule via PDF.</li>
                    </ul>
                </p>
                <p>
                    We invite you to make some customizations below; however, if you want to reset your session back to the defaults simply click the <i>Reset Simulation</i> button.
                </p>
                <p class="small">
                    <i>NOTICE: All industry averages, companies, lenders, and working capital numbers are fictitious.  Any resemblance to actual persons, living or dead, or actual businesses are purely coincidental. </i>
                </p>

                <h3 style="margin-top: 50px">Customization</h3>
                <form id="ffdc-form-reset" action="~/Start/Set" method="post">
                    <div class="form-group row">
                        <div class="col-12">
                            <label for="username" class="control-label">Deliver emails to:</label>
                            <input tabindex="1" id="email" class="form-control" name="email"
                                   type="text" autofocus="" autocomplete="off" value="@SimulationConfiguration.EmailAddress">
                        </div>
                    </div>
                    @{
                        var activeLender = SimulationConfiguration.Lender;
                    }

                    <div class="form-group row mb-4">
                        <div class="col-12">
                            Choose your commercial lender:
                            <div class="dropdown lender-menu">
                                <button class="btn btn-default dropdown-toggle" type="button" id="user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <li data-username="@(activeLender.Username)" data-id="@(activeLender.Id)" data-name="@(activeLender.Name)">
                                        <a href="#">
                                            <img src="/img/portraits/@(activeLender.Id).jpg" max-width="32px" />@(activeLender.Name)&nbsp;(@(activeLender.Username))
                                        </a>
                                    </li>
                                </button>
                                <ul class="dropdown-menu">
                                    @foreach (var lender in StaticData.Lenders)
                                    {
                                        <li data-username="@(lender.Username)" data-id="@(lender.Id)" data-name="@(lender.Name)">
                                            <a href="#">
                                                <img src="/img/portraits/@(lender.Id).jpg" max-width="32px" />@(lender.Name)&nbsp;(@(lender.Username))
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="lender-selected">

                            </div>
                        </div>
                    </div>

                    <div class="row form-group d-none">
                        <div class="col-12">
                            <label for="username" class="control-label">Lender Username</label>
                            <input tabindex="1" id="username" class="form-control" name="username"
                                   type="text" autofocus="" autocomplete="off" value="@SimulationConfiguration.Lender.Username">
                        </div>
                    </div>

                    <div class="row form-group mb-4">
                        <div class="col-12">
                            Choose your industry NAIC code:

                            <select name="naic" class="form-control s2">
                                @foreach (var naic in StaticData.NAIC)
                                {
                                    if (naic.Id == SimulationConfiguration.SelectedNAIC)
                                    {
                                        <option value="@(naic.Id)" selected>
                                            @(naic.Code) - @(naic.Name)
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@(naic.Id)">
                                            @(naic.Code) - @(naic.Name)
                                        </option>
                                    }

                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <div class="col-12">
                            <label for="username" class="control-label">B2E Bearer API Token (geeky stuff):</label>
                            <input tabindex="1" id="b2e" class="form-control" name="b2e"
                                   type="text" autofocus="" autocomplete="off" value="@SimulationConfiguration.B2EBearerToken">
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <div class="col-12">
                            <label for="username" class="control-label">B2C Bearer API Token (geeky stuff):</label>
                            <input tabindex="1" id="b2c" class="form-control" name="b2c"
                                   type="text" autofocus="" autocomplete="off" value="@SimulationConfiguration.B2CBearerToken">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col d-flex justify-content-between">
                            <a href="/start/reset" tabindex="4" class="lender-btn" type="">Reset Simulation</a>
                            <button tabindex="4" class="lender-btn" type="submit">Let's Start!</button>
                        </div>
                    </div>
                    
                    
                    <h3 style="margin-top: 75px">Credits</h3>
                    <p>
                        <div>
                            Max Pool - Co-founder - Sycorr - Team Lead, Project Idea Person, Backend Development
                        </div>
                        <div>
                            Medina Smith - "Solutions Consultant – Lending Community Markets" - Finastra - Subject Matter Expert, Presentation
                        </div>
                        <div>
                            Bryan Swang - Senior UI/UX Engineer - Sycorr - Frontend Development, Graphic Design
                        </div>
                    </p>
                    <p>
                        Key technologies and integrations used:
                        <ul>
                            <li><strong>Finastra UX Kit</strong> - Provided initial web UI shell and branding standards</li>
                            <li><strong>ASP.NET Core</strong> - Microsoft web application foundations</li>
                            <li><strong>ML.NET</strong> - Microsoft machine learning library</li>
                            <li><strong>Azure</strong> - Microsoft cloud hosting</li>
                            <li><strong>Postmark</strong> - SMTP email provider</li>
                            <li><strong>NAICs</strong> - Public database of industry codes by U.S. Census Bureau</li>
                            <li><strong>Bootstrap</strong> - Open source web framework by Twitter</li>
                            <li><strong>jQuery</strong> - Open source JavaScript library</li>
                            <li><strong>FusionFabric.cloud</strong> - Financial APIs provided by Finastra</li>
                        </ul>
                    </p>
                </form>
            </div>
            <div class="col-2"></div>
        </div>

    </main>
</div>

<script>

    $('#nav-toggle').replaceWith('<i id="login-arrow" class="fal fa-long-arrow-left" style="cursor:pointer"></i>');

    $('#login-arrow').on('click',
        function() {
            window.location = '/';
        });

</script>





