@using Finastra.Hackathon
@{
    ViewData[index: "Title"] = "Start Here";
    ViewData[index: "Active"] = "Overview";
}


<div class="jumbotron fin-blue rounded-0 navpad">
    <h4>Start</h4>
</div>

<div class="container">
    <main role="main" class="pb-3">

        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                Information on how to reset here....

                <form id="ffdc-form-reset" action="~/Start/Set" method="post">
                    <div class="form-group row">
                        <div class="col-12">
                            <label for="username" class="control-label">Username or Email</label>
                            <input tabindex="1" id="email" class="form-control" name="email"
                                   type="text" autofocus="" autocomplete="off" value="@SimulationConfiguration.EmailAddress">
                        </div>
                    </div>
                    @{
                        var activeLender = SimulationConfiguration.Lender;
                    }

                    @(activeLender.Name)

                    <div class="form-group row">
                        <div class="col-12">
                            <div class="dropdown lender-menu">
                                <button class="btn btn-default dropdown-toggle" type="button" id="user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <li data-username="@(activeLender.Username)" data-id="@(activeLender.Id)" data-name="@(activeLender.Name)">
                                        <a href="#">
                                            <img src="/img/portraits/@(activeLender.Id).jpg" max-width="32px" />@(activeLender.Name)&nbsp;(@(activeLender.Username))
                                        </a>
                                    </li>
                                </button>
                                <ul class="dropdown-menu">
                                    @foreach (var lender in StaticData.Lenders)
                                    {
                                        <li data-username="@(lender.Username)" data-id="@(lender.Id)" data-name="@(lender.Name)">
                                            <a href="#">
                                                <img src="/img/portraits/@(lender.Id).jpg" max-width="32px" />@(lender.Name)&nbsp;(@(lender.Username))
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="lender-selected">

                            </div>
                        </div>
                    </div>

                    <div class="row form-group d-none">
                        <div class="col-12">
                            <label for="username" class="control-label">Lender Username</label>
                            <input tabindex="1" id="username" class="form-control" name="username"
                                   type="text" autofocus="" autocomplete="off" value="@SimulationConfiguration.Lender.Username">
                        </div>
                    </div>
                    
                    <div class="row form-group">
                        <div class="col-12">
                            <select name="naic" class="form-control s2">
                                @foreach (var naic in StaticData.NAIC)
                                {
                                    if (naic.Id == SimulationConfiguration.SelectedNAIC)
                                    {
                                        <option value="@(naic.Id)" selected>
                                            @(naic.Code) - @(naic.Name)
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@(naic.Id)">
                                            @(naic.Code) - @(naic.Name)
                                        </option>
                                    }

                                }
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col d-flex justify-content-between">
                            <a href="/start/reset" tabindex="4" class="lender-btn" type="">Reset Simulation</a>
                            <button tabindex="4" class="lender-btn" type="submit">Let's Start!</button>
                        </div>
                    </div>



                </form>

            </div>
            <div class="col-2"></div>
        </div>

    </main>
</div>

<script>

    $('#nav-toggle').replaceWith('<i id="login-arrow" class="fal fa-long-arrow-left" style="cursor:pointer"></i>');

    $('#login-arrow').on('click',
        function() {
            window.location = '/';
        });

</script>





