@using System.Linq
@using Sycorr
@using Sycorr.PermissionAssist
@using Sycorr.PermissionAssist.Extensions
@model Sycorr.PermissionAssist.Reports.Templates.Identities.List.IdentitiesListReportModel

@{
    Layout = "ReportLayout";
}
<h2>Identities Report</h2>
<table class="table-print-layout">
    <tr>
        <td width="50%">
            <table class="table table-data-sm">
                @foreach (var kvp in Model.Filters)
                {
                    <tr>
                        <th style="width: 155px">@(kvp.Key):</th>
                        <td>@(kvp.Value)</td>
                    </tr>
                }
            </table>
        </td>
        <td width="50%"></td>
    </tr>
</table>
<div class="print-wrap">
    @if (Model != null && Model.IdentitySummaries != null && Model.IdentitySummaries.Any())
    {
        <table class="table table-condensed table-report" style="margin-bottom: 60px;">
            <thead>
                <tr style="background-color: #f6f6f6;">
                    <th>First</th>
                    <th>Last</th>
                    <th>Username</th>
                    <th>Title</th>
                    <th>Supervisor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.IdentitySummaries)
                {
                    var identityClass = item.IsActive ? "" : "identity-inactive";
                    var supervisorClass = item.IsSupervisorActive ? "" : "identity-inactive";

                    <tr>
                        <td class="@identityClass">@item.FirstName</td>
                        <td class="@identityClass">@item.LastName</td>
                        <td class="@identityClass">@item.Username</td>
                        <td>@item.Title</td>
                        <td class="@supervisorClass">@item.SupervisorName</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="well text-center">No identities found.</div>
    }
</div>
