@{
    ViewData[index: "Title"] = "Home Page";
    ViewData[index: "Active"] = "Overview";
}

@model IEnumerable<Finastra.Hackathon.Accounting.RatioAnalysis>

<partial name="SideBar" view-data="ViewData"></partial>

<div class="jumbotron fin-blue rounded-0">
    <h4>Overview</h4>
</div>

<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            
            
            @{
                var accounts = new[]
                {
                    new {
                        Name = "Peter's Pumpkin Cannery",
                        Balance = "38,800"
                    },
                    new {
                        Name = "Bob's Banana Stand",
                        Balance = "47,200"
                    },
                    new {
                        Name = "Jeremy's Gnome Emporium",
                        Balance = "12,400"
                    },
                    new {
                        Name = "William's Worm Farm",
                        Balance = "19,500"
                    }
                };
            }
            
            
            <div class="col-3">
                <ul class="card-list">
                @foreach (var acct in accounts)
                {
                    <li>
                        <div class="card box-shadow p-2 w-100 mb-2">
                            <div class="row">
                                <div class="col-3"><i class="fal fa-credit-card"></i></div>
                                <div class="col-9 d-flex flex-column">
                                    <span>@acct.Name</span>
                                    <span class="font-weight-bold">$@acct.Balance</span>
                                </div>
                            </div>
                        </div>
                    </li>
                }
                </ul>
            </div>

            <div class="col-9">
                <figure class="highcharts-figure">
                    <div id="container"></div>
                </figure>
            </div>
        </div>
            
        <div class="row">
            <div class="col-12">
                <table>
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Cost of Goods</th>
                        <th>Inventory</th>
                        <th>Turnover</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var ra in Model)
                    {
                        <tr>
                            <td>@ra.Date.ToShortDateString()</td>
                            <td>@ra.CostOfGoods.ToString("C0") @(ra.CostOfGoodsDelta > 0 ? "+-" + ra.CostOfGoodsDelta.ToString("N2") : "")</td>
                            <td>@ra.Inventory.ToString("C0") @(ra.InventoryDelta > 0 ? "+-" + ra.InventoryDelta.ToString("N2") : "")</td>
                            <td>@ra.Turnover.ToString("N1") @(ra.TurnoverDelta > 0 ? "+-" + ra.TurnoverDelta.ToString("N2") : "")</td>
                            <td></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>




<script type="text/javascript">
    var rmadata = [
        @foreach (var ra in Model)
        {
            <text>[Date.parse('@ra.Date.ToShortDateString()'), 4.1],</text>
        }
    ];

    var turnoverdata = [
        @{
            var renderLast = true;
        }
        @foreach (var ra in Model)
        {
            if (ra.TurnoverDelta > 0)
            {
                if (renderLast)
                {
                    <text>[Date.parse('@ra.Date.ToShortDateString()'), @ra.Turnover.ToString("N1")],</text>

                    if (renderLast)
                    {
                        renderLast = false;
                    }
                }
                else
                {
                    <text>[Date.parse('@ra.Date.ToShortDateString()'), null],</text>
                }
            }
            else
            {
                <text>[Date.parse('@ra.Date.ToShortDateString()'), @ra.Turnover.ToString("N1")],</text>
            }
        }
    ];

    var predictiondata = [
        @foreach (var ra in Model)
        {
           if (ra.TurnoverDelta <= 0)
            {
                <text>[Date.parse('@ra.Date.ToShortDateString()'), null],</text>
            }
            else
            {
                <text>[Date.parse('@ra.Date.ToShortDateString()'), @ra.Turnover.ToString("N1")],</text>
            }
        }
    ];

    Highcharts.chart({
    chart: {
    		plotBackgroundColor: null,
				plotBorderWidth: 0,
				plotShadow: false,
        type: 'area',
        renderTo: 'container'
    },
    credits: {
			enabled: false
		},
		exporting: {
			enabled: false
		},
		legend: {
			enabled: false
		},
		title: {
			text: 'Inventory Turnover'
    },
    subtitle: {
        text: 'NAICS Code: 424490',
        //align: 'right',
        //verticalAlign: 'bottom'
    },
    legend: {
        layout: 'vertical',
        align: 'left',
        verticalAlign: 'top',
        x: 100,
        y: 70,
        floating: true,
        borderWidth: 1,
        backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF'
    },
    xAxis: {
			type: 'datetime',
			dateTimeLabelFormats: {
				year: '%M %Y'
			},
			tickInterval: Date.UTC(2010, 1, 1) - Date.UTC(2010, 0, 1)
		},
    yAxis: {
        title: {
            text: 'Inventory Turnover'
        }
    },
    plotOptions: {
			series: {
				dataLabels: {
					enabled: false,
					y: 0
				}
			},
      area: {
        marker: {
          enabled: true,
          symbol: 'circle',
          radius: 3,
          states: {
            hover: {
              enabled: true
            }
          }
        }
      }
  	},
    series: [
    {
    		type: 'area',
        name: 'Historical',
        data: turnoverdata
    },
    {
        name: 'Prediction',
        data: predictiondata,
        color: '#449d44',

    },
    {
        name: 'Industry Average',
        data: rmadata,
        type: 'line',
        dashStyle: 'shortdot',
        lineWidth: 4,
        shadow: false,
        color: '#888',
        marker: {
          enabled: false,
          symbol: 'circle',
          radius: 3,
          states: {
            hover: {
             enabled: true
            }
          }
        }
    }
    ]
});

</script>

