@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Finastra.Hackathon.ML.RatioAnalysis>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="row">
    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Cost of Goods</th>
            <th>Inventory</th>
            <th>Turnover</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var ra in Model)
        {
            <tr>
                <td>@ra.Date.ToShortDateString()</td>
                <td>@ra.CostOfGoods.ToString("C0") @(ra.CostOfGoodsDelta > 0 ? "+-" + ra.CostOfGoodsDelta.ToString("N2") : "")</td>
                <td>@ra.Inventory.ToString("C0")  @(ra.InventoryDelta > 0 ? "+-" + ra.InventoryDelta.ToString("N2") : "")</td>
                <td>@ra.Turnover.ToString("N1")  @(ra.TurnoverDelta > 0 ? "+-" + ra.TurnoverDelta.ToString("N2") : "")</td>
                <td></td>
            </tr>
        }
        </tbody>
    </table>
</div>