@using Finastra.Hackathon
@{
    ViewData["Title"] = "Accounting Principles";
    ViewData["Active"] = "AccountingPrinciples";
}

<partial name="SideBar" view-data="ViewData"></partial>

<div class="jumbotron fin-blue rounded-0 navpad">
    <h4>Accounting Principles</h4>
</div>


<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col">
                Accounting Principles
            </div>
        </div>
    </main>
</div>
<div class="container">
    <main role="main" class="pb-3">

        <div class="row">
            <div class="col-12">
                @if (SimulationConfiguration.CustomerAlteredRationAnalysis)
                {
                    <span>All of the covenants as dictated by your loans are up to date.</span>
                }
                else
                {
                    <span>SOFT ALERT - Please enter the information required by your commercial lender for this time period.</span>
                }
            </div>
        </div>
        @if (!SimulationConfiguration.CustomerAlteredRationAnalysis)
        {

            <div class="row">
                <div class="col-12">


                    <form id="ffdc-form-login" class="form-horizontal" action="/AccountingPrinciples/Set" method="post">
                        <div class="col s12 section">
                            <div class="input-field">
                                <input tabindex="1" id="costOfGoods" class="form-control" name="costOfGoods"
                                       type="text" autofocus="" autocomplete="off" value="@SimulationConfiguration.RatioAnalysis.CostOfGoods">
                                <label for="username" class="control-label">Cost of Goods Sold ($)</label>
                            </div>
                        </div>

                        <div class="col s12 section">
                            <div class="input-field">
                                <input tabindex="1" id="inventory" class="form-control" name="inventory"
                                       type="text" autofocus="" autocomplete="off" value="@SimulationConfiguration.RatioAnalysis.Inventory">
                                <label for="username" class="control-label">Inventory ($)</label>
                            </div>
                        </div>

                        <div class="col s12 section">
                            <div class="valign-wrapper section">
                                <div id="ffdc-form-buttons" class="col s6">
                                    <div class="right">
                                        <button tabindex="4" class="btn btn-primary btn-lg" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        }

        @{
            var all = StaticData.AccountingPrinciples.ToList();

            if (SimulationConfiguration.CustomerAlteredRationAnalysis)
            {
                all.Add(SimulationConfiguration.RatioAnalysis);
            }

            var years = all.Select(x => x.Date.Year).Distinct().OrderByDescending(x => x).ToList();

            foreach (var year in years)
            {
                <div>
                    <h3>@year</h3>
                    <div>
                        <table>
                            <tbody>
                                @if (year != 2019)
                                {
                                    <tr>
                                        <td>Tax Return</td>
                                        <td><a href="#">Eide_Bailly-audited_1120C-@(year).pdf</a></td>
                                    </tr>
                                }
                                <tr>
                                    <td>Profit & Loss (Q1)</td>
                                    <td><a href="#">PL-Q1.pdf</a></td>
                                </tr>
                                <tr>
                                    <td>Profit & Loss (Q2)</td>
                                    <td><a href="#">ProfitLoss-cashbasis_Q2.pdf</a></td>
                                </tr>
                                <tr>
                                    <td>Profit & Loss (Q3)</td>
                                    <td><a href="#">Profit_Loss.pdf</a></td>
                                </tr>
                                @if (year != 2019)
                                {
                                    <tr>
                                        <td>Profit & Loss (Q4)</td>
                                        <td><a href="#">Profit_Loss.pdf</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        As Of Date
                                    </th>
                                    <th>
                                        Cost of Goods
                                    </th>
                                    <th>
                                        Inventory
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var m in all.Where(x => x.Date.Year == year).OrderByDescending(x => x.Date.Month))
                                {
                                    <tr>
                                        <td>@m.Date.ToShortDateString()</td>
                                        <td>@m.CostOfGoods.ToString("C0")</td>
                                        <td>@m.Inventory.ToString("C0")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        }
    </main>
</div>