@using Finastra.Hackathon
@{
    ViewData["Title"] = "Accounting Principles";
    ViewData["Active"] = "AccountingPrinciples";
}

<partial name="SideBar" view-data="ViewData"></partial>

<link rel="stylesheet" href="~/css/views/accountingPrinciples.css"/>

<div class="jumbotron fin-blue rounded-0 navpad">
    <h4>Accounting Principles</h4>
</div>

<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-12">
                @if (SimulationConfiguration.CustomerAlteredRationAnalysis)
                {
                    <div class="alert alert-success" role="alert">
                        <i class="fal fa-thumbs-up"></i>
                        <span>All of the covenants required for your loans are up to date.</span>
                    </div>
                }
                else
                {
                    <div class="alert alert-warning" role="alert">
                        <i class="far fa-exclamation-triangle"></i>
                        <span>Please enter the information required by your commercial lender for this time period.</span>
                    </div>
                }
            </div>
        </div>
        @if (!SimulationConfiguration.CustomerAlteredRationAnalysis)
        {



        <form class="mb-3" id="acct-prin-form" action="/AccountingPrinciples/Set" method="post">
            <div class="row mb-2">
                <div class="col-6">
                    <label for="username" class="control-label">Cost of Goods Sold</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input tabindex="1" id="costOfGoods" class="form-control" name="costOfGoods"
                               type="text" autofocus="" autocomplete="off" value="@SimulationConfiguration.RatioAnalysis.CostOfGoods">
                    </div>
                </div>

                <div class="col-6">
                    <label for="username" class="control-label">Inventory</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input tabindex="2" id="inventory" class="form-control" name="inventory"
                               type="text" autofocus="" autocomplete="off" value="@SimulationConfiguration.RatioAnalysis.Inventory">
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12">
                    <button tabindex="3" class="lender-btn" type="submit">Submit</button>
                </div>
            </div>
            
            <div class="row mb-2">
                <div class="col-12 mt-3 mb-3">
                    <!-- spacer -->
                </div>
            </div>
        </form>

        }

        @{
            var all = StaticData.AccountingPrinciples.ToList();

            if (SimulationConfiguration.CustomerAlteredRationAnalysis)
            {
                all.Add(SimulationConfiguration.RatioAnalysis);
            }

            var years = all.Select(x => x.Date.Year).Distinct().OrderByDescending(x => x).ToList();

            foreach (var year in years)
            {
                var collapsed = year == 2019;
                <div class="w-100">
                    <div class="main-header d-flex justify-content-between align-items-center"><h3>@year</h3>
                        <a class="@(collapsed ? "" : "collapsed")" data-toggle="collapse" href="#collapse-@(year)" role="button" aria-expanded="@(!collapsed)" aria-controls="collapse-@(year)">
                            <i class="fas fa-angle-up"></i>
                        </a>
                    </div>
                    <div class="@(collapsed ? "" : "collapse")" id="collapse-@(year)">
                        <div class="w-100" style="padding: 25px 15px">
                            <table class="w-100 files">
                                <thead>
                                    <tr>
                                        <th colspan="2">
                                            Uploaded Files
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (year != 2019)
                                    {
                                        <tr>
                                            <td>Tax Return</td>
                                            <td class="text-right"><a href="#">Eide_Bailly-audited_1120C-@(year).pdf</a></td>
                                        </tr>
                                    }
                                    <tr>
                                        <td>Profit & Loss (Q1)</td>
                                        <td class="text-right"><a href="#">PL-Q1.pdf</a></td>
                                    </tr>
                                    <tr>
                                        <td>Profit & Loss (Q2)</td>
                                        <td class="text-right"><a href="#">ProfitLoss-cashbasis_Q2.pdf</a></td>
                                    </tr>
                                    <tr>
                                        <td>Profit & Loss (Q3)</td>
                                        <td class="text-right"><a href="#">Profit_Loss.pdf</a></td>
                                    </tr>
                                    @if (year != 2019)
                                    {
                                        <tr>
                                            <td>Profit & Loss (Q4)</td>
                                            <td class="text-right"><a href="#">Profit_Loss.pdf</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="w-100" style="padding: 0 15px 25px">
                            <table class="w-100 ratios">
                                <thead>
                                    <tr>
                                        <th colspan="5">Asset Management Ratios</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th>
                                            As Of Date
                                        </th>
                                        <th>
                                            Cost of Goods
                                        </th>
                                        <th>
                                            Inventory
                                        </th>
                                        <th>
                                            Turnover
                                        </th>
                                        <th>
                                            Turn-Days
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var m in all.Where(x => x.Date.Year == year).OrderByDescending(x => x.Date.Month))
                                    {
                                    <tr>
                                        <td>@m.Date.ToShortDateString()</td>
                                        <td>@m.CostOfGoods.ToString("C0")</td>
                                        <td>@m.Inventory.ToString("C0")</td>
                                        <td>@m.Turnover.ToString("N2")</td>
                                        <td>@m.TurnDays.ToString("N2")</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        }
    </main>
</div>