@using Finastra.Hackathon
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Finastra Hackathon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css?v=@DateTime.Now.Ticks" />
    <link rel="stylesheet" href="~/fonts/font-awesome/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/highcharts/highcharts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color: white;">
            <div class="col-10 d-flex align-items-center">
                <a id="nav-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
                </a>
                <div class="ml-4 mr-1">
                    <a href="/">
                        <img src="/img/fbv-logo.png" style="max-height: 32px; margin-bottom: 6px;">
                    </a>
                </div>
                <a class="navbar-brand" href="/">
                    <div class="navbar-home-logo ml-4"></div>
                </a>
            </div>
            @{
                var id = Context.Session.GetString("Id");
                var name = Context.Session.GetString("Name");
                var role = Context.Session.GetString("Role");
            }
           
            @if (!String.IsNullOrEmpty(role))
            {
                <div class="col-2 d-flex justify-content-end align-items-center">
                    <span class="mr-3 font-weight-bold text-nowrap">@name (@(role.Equals("Lender", StringComparison.OrdinalIgnoreCase) ? "Lender" : "Business Owner"))</span>
                    <div class="avatar-wrap-lg">
                        <div class="avatar">
                            <!-- replace me -->
                            <img src="/img/portraits/@(id).jpg">
                        </div>
                    </div>
                </div>
            }
        </nav>
    </header>

    <div>
        @RenderBody()
    </div>
        
    @{
        var lenderName = SimulationConfiguration.Lender.Name;
        var lenderId = SimulationConfiguration.Lender.Id;
        var showToast = SimulationConfiguration.LenderProposedAction && !SimulationConfiguration.AlertDismissed && !role.Equals("Lender", StringComparison.OrdinalIgnoreCase);
    }
           
    @if (showToast)
    {
    <div class="toast-panel p-3">
        <div class="d-inline-flex justify-content-end"><i class="fal fa-times toast-close"></i></div>
        <div class="lender">
            <div class="lender d-inline-flex justify-content-start">
                <img src="/img/portraits/@(lenderId).jpg">
                <div>
                    <div class="blockquote-footer text-nowrap">Message from your banker</div>
                    <div class="text-nowrap" style=" text-indent: 1rem; font-size: 19px; ">@(lenderName)</div>
                </div>
            </div>
        </div>
        <div class="blockquote" style="font-size:0.85em">It looks like you might be looking at another great selling season, so I would like to chat about how we might help you take more inventory this quarter.  If we readjust the remaining <strong>9 payments</strong> on your annual operational loan to an new <strong>@SimulationConfiguration.ProposedAmoritizationTable.APR.ToString("N2")% APR</strong> I think you might be able to improve your bottom line this year. You can view what the whole <a href="/Accounts/Loan/" style="text-decoration: underline">AM schedule</a> would like if you want.</div>
        <div class="row">
            <div class="col"><a class="lender-btn" href="/Insights/"><span class="w-100">Take me to this insight</span></a></div>
        </div>
    </div>
    }

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
