@using Finastra.Hackathon
@{
    ViewData["Title"] = "Insights";
    ViewData["Active"] = "Insights";
}

@model Finastra.Hackathon.Web.Models.Insights.IndexModel

<partial name="SideBar" view-data="ViewData"></partial>

<link rel="stylesheet" href="~/css/views/accountingPrinciples.css" />

<div class="jumbotron fin-blue rounded-0 navpad">
    <h4>Insights</h4>
</div>

<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-12">
                <figure class="highcharts-figure">
                    <div id="container" class="w-100"></div>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-12">

                @{
                    var all = StaticData.AccountingPrinciples.ToList();

                    if (SimulationConfiguration.CustomerAlteredRationAnalysis)
                    {
                        all.Add(SimulationConfiguration.RatioAnalysis);
                    }

                    var years = all.Select(x => x.Date.Year).Distinct().OrderByDescending(x => x).ToList();

                    foreach (var year in years)
                    {
                        <div class="w-100">
                            <div class="main-header d-flex justify-content-between align-items-center">
                                <h3>@year</h3>
                                <a class="collapsed" data-toggle="collapse" href="#collapse-@(year)" role="button" aria-expanded="false" aria-controls="collapse-@(year)">
                                    <i class="fas fa-angle-up"></i>
                                </a>
                            </div>
                            <div class="collapse" id="collapse-@(year)">
                                <div class="w-100" style="padding: 25px 15px">
                                    <table class="w-100 ratios">
                                        <thead>
                                            <tr>
                                                <th colspan="5">Asset Management Ratios</th>
                                            </tr>
                                        </thead>
                                        <thead>
                                            <tr>
                                                <th>
                                                    As Of Date
                                                </th>
                                                <th>
                                                    Cost of Goods
                                                </th>
                                                <th>
                                                    Inventory
                                                </th>
                                                <th>
                                                    Turnover
                                                </th>
                                                <th>
                                                    Turn-Days
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var m in all.Where(x => x.Date.Year == year).OrderByDescending(x => x.Date.Month))
                                            {
                                                <tr>
                                                    <td>@m.Date.ToShortDateString()</td>
                                                    <td>@m.CostOfGoods.ToString("C0")</td>
                                                    <td>@m.Inventory.ToString("C0")</td>
                                                    <td>@m.Turnover.ToString("N2")</td>
                                                    <td>@m.TurnDays.ToString("N2")</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </main>
</div>

<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-9">
                <figure class="highcharts-figure">
                    <div id="container"></div>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                
            </div>
        </div>
    </main>
</div>




<script type="text/javascript">
    var rmadata = [
        @foreach (var ra in Model.RmaInformations)
        {
            <text>[Date.parse('@ra.Date.ToShortDateString()'), @ra.InventoryTurnover.GetValueOrDefault()],</text>
        }
    ];

    var turnoverdata = [
        @{
            var renderLast = true;
        }
        @foreach (var ra in Model.RatioAnalyses)
        {
            if (ra.TurnoverDelta > 0)
            {
                if (renderLast)
                {
                    <text>[Date.parse('@ra.Date.ToShortDateString()'), @ra.Turnover.ToString("N1")],</text>

                    if (renderLast)
                    {
                        renderLast = false;
                    }
                }
                else
                {
                    <text>[Date.parse('@ra.Date.ToShortDateString()'), null],</text>
                }
            }
            else
            {
                <text>[Date.parse('@ra.Date.ToShortDateString()'), @ra.Turnover.ToString("N1")],</text>
            }
        }
    ];

    var predictiondata = [
        @foreach (var ra in Model.RatioAnalyses)
        {
           if (ra.TurnoverDelta <= 0)
            {
                <text>[Date.parse('@ra.Date.ToShortDateString()'), null],</text>
            }
            else
            {
                <text>[Date.parse('@ra.Date.ToShortDateString()'), @ra.Turnover.ToString("N1")],</text>
            }
        }
    ];

    Highcharts.chart({
    chart: {
    		plotBackgroundColor: null,
				plotBorderWidth: 0,
				plotShadow: false,
        type: 'area',
        renderTo: 'container'
    },
    credits: {
			enabled: false
		},
		exporting: {
			enabled: false
		},
		legend: {
			enabled: false
		},
		title: {
			text: 'Inventory Turnover'
    },
    subtitle: {
        text: 'NAICS Code: @Model.NaicInformation.Code',
        //align: 'right',
        //verticalAlign: 'bottom'
    },
    legend: {
        layout: 'vertical',
        align: 'left',
        verticalAlign: 'top',
        x: 100,
        y: 70,
        floating: true,
        borderWidth: 1,
        backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF'
    },
    xAxis: {
			type: 'datetime',
			dateTimeLabelFormats: {
				year: '%M %Y'
			},
			tickInterval: Date.UTC(2010, 1, 1) - Date.UTC(2010, 0, 1)
		},
    yAxis: {
        title: {
            text: 'Inventory Turnover'
        }
    },
    plotOptions: {
			series: {
				dataLabels: {
					enabled: false,
					y: 0
				}
			},
      area: {
        marker: {
          enabled: true,
          symbol: 'circle',
          radius: 3,
          states: {
            hover: {
              enabled: true
            }
          }
        }
      }
  	},
    series: [
    {
    		type: 'area',
        name: 'Historical',
        data: turnoverdata
    },
    {
        name: 'Prediction',
        data: predictiondata,
        color: '#449d44',

    },
    {
        name: 'Industry Average',
        data: rmadata,
        type: 'line',
        dashStyle: 'shortdot',
        lineWidth: 4,
        shadow: false,
        color: '#888',
        marker: {
          enabled: false,
          symbol: 'circle',
          radius: 3,
          states: {
            hover: {
             enabled: true
            }
          }
        }
    }
    ]
});

</script>